[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/repliza/pkp-lib.git
	branch = stable-3_2_1
[submodule "plugins/generic/usageStats"]
        path = plugins/generic/usageStats
        url = https://github.com/pkp/usageStats.git
[submodule "plugins/generic/customBlockManager"]
	path = plugins/generic/customBlockManager
	url = https://github.com/pkp/customBlockManager.git
[submodule "plugins/generic/staticPages"]
	path = plugins/generic/staticPages
	url = https://github.com/pkp/staticPages.git
[submodule "plugins/generic/tinymce"]
	path = plugins/generic/tinymce
	url = https://github.com/pkp/tinymce.git
[submodule "plugins/generic/pdfJsViewer"]
	path = plugins/generic/pdfJsViewer
	url = https://github.com/pkp/pdfJsViewer.git
[submodule "docs/manual"]
	path = docs/manual
	url = https://github.com/pkp/ojs-user-guide
[submodule "plugins/generic/lensGalley"]
	path = plugins/generic/lensGalley
	url = https://github.com/asmecher/lensGalley
	branch = i1472-fix
[submodule "plugins/generic/googleAnalytics"]
	path = plugins/generic/googleAnalytics
	url = https://github.com/pkp/googleAnalytics.git
[submodule "plugins/generic/orcidProfile"]
	path = plugins/generic/orcidProfile
	url = https://github.com/pkp/orcidProfile.git
[submodule "plugins/blocks/makeSubmission"]
	path = plugins/blocks/makeSubmission
	url = https://github.com/pkp/makeSubmission.git
[submodule "plugins/reports/reviewReport"]
	path = plugins/reports/reviewReport
	url = https://github.com/pkp/reviewReport
[submodule "lib/ui-library"]
	path = lib/ui-library
	url = https://github.com/repliza/ui-library.git
	branch = stable-3_2_1
[submodule "plugins/generic/citationStyleLanguage"]
	path = plugins/generic/citationStyleLanguage
	url = https://github.com/pkp/citationStyleLanguage.git
[submodule "plugins/reports/counter/classes/COUNTER"]
	path = plugins/reports/counter/classes/COUNTER
	url = https://github.com/ulsdevteam/COUNTER.git
[submodule "plugins/blocks/browse"]
	path = plugins/blocks/browse
	url = https://github.com/pkp/browse
[submodule "plugins/generic/googleScholar"]
	path = plugins/generic/googleScholar
	url = https://github.com/pkp/googleScholar
[submodule "plugins/themes/healthSciences"]
	path = plugins/themes/healthSciences
	url = git@github.com:repliza/healthSciences.git
	branch = stable-3_2_1
[submodule "plugins/themes/resmean"]
	path = plugins/themes/resmean
	url = git@github.com:repliza/resmean.git
[submodule "plugins/generic/calculatedSubmissionTitle"]
	path = plugins/generic/calculatedSubmissionTitle
	url = git@github.com:repliza/calculated-submission-title.git
[submodule "plugins/generic/customFormElementsGridIdColumn"]
	path = plugins/generic/customFormElementsGridIdColumn
	url = https://github.com/repliza/custom-form-elements-grid-id-column.git
[submodule "plugins/generic/extendedSectionSettings"]
	path = plugins/generic/extendedSectionSettings
	url = git@github.com:repliza/extended-submission-settings.git
[submodule "plugins/generic/extendedSubmissionSettings"]
	path = plugins/generic/extendedSubmissionSettings
	url = https://github.com/repliza/extended-submission-settings.git
[submodule "plugins/generic/formCustomizationHelpers"]
	path = plugins/generic/formCustomizationHelpers
	url = https://github.com/repliza/form-customization-helpers.git
[submodule "plugins/generic/localizationHelpers"]
	path = plugins/generic/localizationHelpers
	url = https://github.com/repliza/localization-helpers.git
[submodule "plugins/generic/moreNotifications"]
	path = plugins/generic/moreNotifications
	url = https://github.com/repliza/more-notifications.git
[submodule "plugins/generic/sectionFlagContainsSubmissionsWithExternalInformation"]
	path = plugins/generic/sectionFlagContainsSubmissionsWithExternalInformation
	url = https://github.com/repliza/section-flag-contains-submissions-with-external-information.git
[submodule "plugins/generic/submissionChecklistPerSection"]
	path = plugins/generic/submissionChecklistPerSection
	url = https://github.com/repliza/submission-checklist-per-section.git
[submodule "plugins/generic/submissionHelpers"]
	path = plugins/generic/submissionHelpers
	url = https://github.com/repliza/submission-helpers.git
[submodule "plugins/generic/submissionStatusFinished"]
	path = plugins/generic/submissionStatusFinished
	url = https://github.com/repliza/submission-status-finished.git
[submodule "plugins/generic/userScoring"]
	path = plugins/generic/userScoring
	url = git@github.com:repliza/user-scoring.git
[submodule "plugins/generic/userScoringSummaryUpdate"]
	path = plugins/generic/userScoringSummaryUpdate
	url = git@github.com:repliza/user-scoring-summary-update.git
